@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 10px;
}
#header{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.header{
    text-align: center;
    background-color: #ECEFF1;
}
#characteristics{
    display: flex;
    justify-content: center;
}
.characteristics{
    text-align: center;
    background-color: wheat;
}
#footer{
    display: flex;
    justify-content: center;
}
footer{
    background-color: #252525;
    color: whitesmoke;
}
#abilities{
    display: flex;
    justify-content: center;
}
.abilities{
    text-align: center;
    background-color: bisque;
}




.textVampire{
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
}
.textMasquerade{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}
.textBig{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}
.textRubric{
    margin-top: 10px;
}

.labelText{
    font-family: 'Oswald', sans-serif;
    display: inline-block;
}
.inputText{
    font-family: 'Oswald', sans-serif;
    display: flex;
    border: 0;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background: none;
    outline: none;
}
.inputTextTHead{ /*Remake*/
    font-family: 'Oswald', sans-serif;
    display: flex;
    border: 0;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background: none;
    outline: none;
}
.inputNumber{  /*Remake*/
    width: 100px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    border: 0;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background: none;
    outline: none;
    text-align: center;
}

.td1, .td2{
    padding-right: 30px;
}

.vampireLogo{
    width: 28px;
}